name: Dispatch to Listeners

on:
  [repository_dispatch]
  
jobs:     
  matrix_prep:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - id: set-matrix
      run: |
          content=`cat ${{ github.event.action }}.json`
          content="${content//'%'/'%25'}"
          content="${content//$'\n'/'%0A'}"
          content="${content//$'\r'/'%0D'}"
          echo ::set-output name=matrix::{\"include\":$(echo $content)}\"
        
  Dispatch:
    runs-on: ubuntu-latest
    needs: matrix_prep
    name: "Dispatch"
    strategy:
      matrix: ${{fromJson(needs.matrix_prep.outputs.matrix)}}
    steps:
        - name: Repository Dispatch
          uses: peter-evans/repository-dispatch@v1
          with:
            token: ${{ secrets[matrix.pat] }}
            repository: ${{ matrix.repo }}
            event-type: ${{ github.event.action }}
