name: Push to nuget feed on release

on:
  [repository_dispatch]
  
jobs:
    # Test dll can be patched
  harmony-patch-Testing:
    runs-on: ubuntu-latest
    name: "Test Harmony Patch"
    steps:
      - name: Download artifact
        uses: dawidd6/action-download-artifact@v2
        with:
          github_token: ${{ secrets.dll_pat }}
          workflow: build.yml
          branch: master
          path: .
          repo: ${{ github.event.action }}
      - name: Patch Test Dll
        run: echo "test dll"
        
    # Regression Testing Provision.
  regress-Testing:
    runs-on: ubuntu-latest
    needs: harmony-patch-Testing
    name: "Reg"
    strategy:
      matrix:
        repo: ['AssetToolTipPlugin', 'TaleSpire.ConfigurationManager', 'RadialUIPlugin', 'TaleSpire-FileAccessPlugin']
    steps:
        - name: Repository Dispatch
          uses: peter-evans/repository-dispatch@v1
          with:
            token: ${{ secrets.dll_pat }}
            repository: TaleSpire-Modding/${{ matrix.repo }}
            event-type: ${{ github.event.action }}
